@charset "utf-8";

*{
margin:0;
padding:0;

}
@media screen and (max-widht:640px){
  body{
    background-color:red;
    }
   }
@media screen and (min-width:641px)and(max-width:980px){
body{
background-image: url(夜桜２.png);
background-color:lightgrey;
margin:5px;
           }
}
#text-shadow{
  padding:0 40px;
  font-size:30px;
  
  
  
}
.neon {clor: white;
text-shadow;0px 0px 20px white,
            1px 1px 15px deeppink,
            1px 1px 15px deeppink,
            1px 1px 15px deeppink,
            1px 1px 15px deeppink;}
