@charset "utf-8";

*{
margin:0;
padding:0;

}

@media screen and (max-widht:360px){
  body{
    background-color:red;
    }
   }
@media screen and (min-width:1080px) and (max-width:1920px){
body{
background-image: url(夜桜２.png);

background-repeat:no-repeat,no-repeat;
margin:5px;
           }
}
{
  margin:0;
  padding:0;
}
body{
  
}
#text-shadow{
  padding:0 80px;
  font-size: 80px;
}



.neon {color:white;
       text-shadow:         0px 0px 20px white,
                            0px 0px 28px deeppink,
                            0px 0px 28px deeppink,
                            0px 0px 28px deeppink,
                            0px 0px 28px deeppink;}
  
  
  #ingredinet{
    border:2px solid lightcoral;
  }
  th,td{
    border:2px solid lightcoral;
  background-color:skyblue;
    pdding:10px;
    width:100px;
    text-align:center;
  }
  .bebel{color violet;
        text shadow:-1px -1px 0px white,
                     1px 1px 0px white;}
        
