@charset "utf-8";

*{
margin:0;
padding:0;
}
@media screen and (max-width:640px){
body{
background-image: url(ing src="夜桜２".png),
background-color:lightgrey;
margin:5px;
}
}
@media screen and (min-width:641px)and(max-width:980px){
  
}
body{
  background-color:blue;
}
