@charset "utf-8";

*{
margin:0;
padding:0;
}
@media screen and (max-width:640px){
body{
background-image: url(夜桜２/img/good.png);
background-color:lightgrey;
margin:5px;
}
}
@media screen and (min-width:641px)and(max-width:980px){
  
}
body{
  background-color:blue;
}
#text-shadow{
  padding:0 40px;
  font-size:30px;
  
  
  
}
.neon {clor: white;
text-shadow;0px 0px 8px white,
            1px 1px 15px deeppink,
            1px 1px 15px deeppink,
            1px 1px 15px deeppink,
            1px 1px 15px deeppink;}
