@charset "utf-8";

*{
margin:0;
padding:0;

}

@media screen and (max-widht:360px){
  body{
    background-color:red;
    }
   }
@media screen and (min-width:1080px) and (max-width:1920px){
body{
background-image: url(夜桜２.png);

background-repeat:no-repeat,no-repeat;
margin:5px;
           }
}
{
  margin:0;
  padding:0;
}
body{
  
}
